<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Treks</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <h1>Available Treks</h1>
    <table style="border: 1px solid;">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Available Slots</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Booking</th>
        </tr>
        {% for trek in treks %}
        <tr>
            <td>{{trek.name}}</td>
            <td>{{trek.location}}</td>
            <td>{{trek.difficulty}}</td>
            <td>{{trek.duration}}</td>
            <td>{{trek.available_slots}}</td>
            <td>{{trek.status}}</td>
            <td>{{trek.start_date}}</td>
            <td>{{trek.end_date}}</td>
            <td><a href="/book-trek/{{trek.trek_id}}">Book</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>