<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Treks</title>
</head>
<body>
    <h1>Here are all the treks you were assigned</h1>
    <table style="border: 1px solid;">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Available Slots</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Manage Participants</th>
        </tr>
        {% for trek in treks %}
        <tr>
            <td>{{trek.name}}</td>
            <td>{{trek.location}}</td>
            <td>{{trek.difficulty}}</td>
            <td>{{trek.duration}}</td>
            <td><a href="/edit-trek-slots/{{trek.trek_id}}">{{trek.available_slots}}</a></td>
            <td><a href="/edit-trek-status/{{trek.trek_id}}">{{trek.status}}</a></td>
            <td>{{trek.start_date}}</td>
            <td>{{trek.end_date}}</td>
            <td><a href="/view-participants/{{trek.trek_id}}">View/Manage Participants</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>