<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trek Status</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <h1>Edit Status of the Trek you selected</h1>
    <form action="/edit-trek-status/{{trek_id}}" method="post">
        <select name="status" required>
            <option value="" selected disabled>--Select Status--</option>
            <option value="complete">Complete</option>
            <option value="cancelled">Cancelled</option>
            <option value="upcoming">Upcoming</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>