<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Available Slots</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <h1>Edit Available Slots of the Trek you selected</h1>
    <form action="/edit-trek-slots/{{trek_id}}" method="post">
        <input type="text" placeholder="Changed Slots" name="slots" required>
    </form>
</body>
</html>