<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <h1>Update your profile details here</h1>
    <form action="/update-profile" method="post">
        <input type="text" placeholder="Full Name" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="text" placeholder="+91XXXXXXXXXX" name="contact" required>
        <button type="submit">Update</button>
    </form>
</body>
</html>