.login-page, .register-page{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bg-mountains{
    background-image: url(../images/login-page-mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

.login-box, .register-box{
    width: 400px;
    padding: 70px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.login-box input, .register-box input{
    font-size: 14px;
    width: 200px;
    border-radius: 4px;
    padding: 7px;
}

.login-box button, .register-box button{
    font-size: 14px;
    width: 218px;
    border-radius: 4px;
    padding: 7px;
    background-color: #0D6EFD;
    color: white;
}

.roles{
    width: 300px;
    padding: 70px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

select{
    width: 170px;
    padding: 5px;
}

.login-checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.home-btn{
    border-radius: 2px;
}

.big-letter{
    font-size: 80px;
}

.first{
    font-size: 30px;
}

.second{
    font-size: 40px;
}

.third{
    font-size: 50px;
}

#remember-me{
    width: auto;
    padding: 0;
    margin: 0;
}
