<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Treks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains p-4">
    <h1 class="mb-4">Add Treks</h1>
    <form method="post" action="/add-trek" class="form">
        <input type="text" class="form-control" placeholder="Trek name" name="name" required>
        <input type="text" class="form-control" placeholder="Location" name="location" required>
        <select name="difficulty" class="form-select" required>
            <option value="" selected disabled>--Select Difficulty--</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <input type="text" class="form-control" placeholder="Duration" name="duration" required>
        <input type="text" class="form-control" placeholder="Available Slots" name="available_slots" required>
        <input type="date" class="form-control" name="start_date">
        <input type="date" class="form-control" name="end_date">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>