<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Treks</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <form method="post" action="/add-trek" class="form">
        <input type="text" placeholder="Trek name" name="name" required>
        <input type="text" placeholder="Location" name="location" required>
        <select name="difficulty" required>
            <option value="" selected disabled>--Select Difficulty--</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <input type="text" placeholder="Duration" name="duration" required>
        <input type="text" placeholder="Available Slots" name="available_slots" required>
        <input type="date" name="start_date">
        <input type="date" name="end_date">
        <button type="submit">Submit</button>
    </form>
</body>
</html>