<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search People</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains p-4">
    <h2 class="mb-4">Details of User</h2>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Role</th>
            <th>Approved</th>
            <th>Blacklisted</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.user_id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.role}}</td>
            <td>
                {% if user.approved %}
                     Approved
                {% else %}
                    Pending
                {% endif %}
            </td>
            <td>
                {% if user.blacklisted %}
                    Blacklisted
                {% else %}
                    Active
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>