<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Trek</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains p-4">
    <h1 class="mb-4">Detail of Trek</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Trek ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Available Slots</th>
            <th>Assigned Staff ID</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for trek in treks %}
        <tr>
            <td>{{trek.trek_id}}</td>
            <td>{{trek.name}}</td>
            <td>{{trek.location}}</td>
            <td>{{trek.difficulty}}</td>
            <td>{{trek.duration}}</td>
            <td>{{trek.available_slots}}</td>
            <td>{{trek.assigned_staff_id}}</td>
            <td>{{trek.status}}</td>
            <td>{{trek.start_date}}</td>
            <td>{{trek.end_date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>