<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains p-4">
    <h1 class="mb-4">All Bookings</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>User ID</th>
            <th>Trek ID</th>
            <th>Booking Date</th>
            <th>Status</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{booking.user_id}}</td>
            <td>{{booking.trek_id}}</td>
            <td>{{booking.booking_date}}</td>
            <td>{{booking.status}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>