<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trekking Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <header class="navbar" style="padding: 10px;">
        <h2 style="text-align: left;">Trekking Management App</h2>
        <div class="buttons">
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
        </div>
    </header>
    <div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; " class="bg-mountains">
            <h1><strong>The 3A's</strong></h1>
            <p>
                <b><span class="big-letter">A</span><span class="first">live</span></b><br>
                <b><span class="big-letter">A</span><span class="second">dventure</span></b><br>
                <b><span class="big-letter">A</span><span class="third">drenaline</span></b>
            </p>
            <a href="/login"><button>Let's Trek</button></a>
        </div>
    </div>
</body>
</html>