<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="register-page bg-mountains">
    <div class="register-box">
        <h1>Register</h1>
        <form method="post" action="/register">
            <input type="text" placeholder="Full Name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="+91XXXXXXXXXX" name="contact" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            <div>
                <label>I am</label>
                <select name="role" required>
                    <option value="" selected disabled>Select your role</option>
                    <option value="admin">Admin</option>
                    <option value="staff">Trek Staff</option>
                    <option value="trekker">Trekker</option>
                </select>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="./login.html">Login here</a></p>
    </div>
</body>
</html>