<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains p-4">
    <h1 class="mb-4">Welcome, Admin</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Total Treks</th>
            <th>Total Bookings</th>
            <th>Total Staff</th>
            <th>Total Trekkers</th>
        </tr>
        <tr>
            <td>{{total_treks}}</td>
            <td>{{total_bookings}}</td>
            <td>{{total_staff}}</td>
            <td>{{total_trekkers}}</td>
        </tr>
    </table>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <td><a href="/add-trek"><button class="btn btn-primary">Add Trek</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-treks"><button class="btn btn-primary">View All Trek</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-staff"><button class="btn btn-primary">View Staff</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-trekkers"><button class="btn btn-primary">View Trekkers</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-bookings"><button class="btn btn-primary">View Bookings</button></a></td>
        </tr>
    </table>
    <form action="/search-ppl" class="mb-3" method="post">
        <input type="text" name="value" class="form-control" placeholder="Search using person's ID/Name">
    </form>
    <form action="/search-trek" class="mb-3" method="post">
        <input type="text" name="value" class="form-control" placeholder="Search using Trek's ID/Name">
    </form>
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
</body>
</html>