<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="bg-mountains">
    <h1>Welcome, Admin</h1>
    <table style="border: 1px solid;">
        <tr>
            <th>Total Treks</th>
            <th>Total Bookings</th>
            <th>Total Staff</th>
            <th>Total Trekkers</th>
        </tr>
        <tr>
            <td>{{total_treks}}</td>
            <td>{{total_bookings}}</td>
            <td>{{total_staff}}</td>
            <td>{{total_trekkers}}</td>
        </tr>
    </table>
    <table class="admin-table" style="border: 1px solid;">
        <tr>
            <td><a href="/add-trek"><button>Add Trek</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-treks"><button>View All Trek</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-staff"><button>View Staff</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-trekkers"><button>View Trekkers</button></a></td>
        </tr>
        <tr>
            <td><a href="/view-bookings"><button>View Bookings</button></a></td>
        </tr>
    </table>
    <form action="/search-ppl" method="post">
        <input type="text" name="value" placeholder="Search using person's ID/Name">
    </form>
    <form action="/search-trek" method="post">
        <input type="text" name="value" placeholder="Search using Trek's ID/Name">
    </form>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>